# Dependencies
node_modules/
package-lock.json.bak

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios
/android

# Metro
.metro-health-check*

# Debug & Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
logs/

# macOS / System
.DS_Store
*.pem
Thumbs.db

# TypeScript
*.tsbuildinfo

# Environment Variables (Protect private API keys & credentials)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*
!.env.example

# Temporary / Cache
.cache/
.parcel-cache/
.temp/
